version: "3.8"
services:
  zoo1:
    image: zookeeper:3.6.2
    hostname: zoo1
    container_name: sx-zoo1
    # ports:
    #  - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181 server.2=zoo2:2888:3888;2181 server.3=zoo3:2888:3888;2181
    networks:
      - sx-net
  zoo2:
    image: zookeeper:3.6.2
    hostname: zoo2
    container_name: sx-zoo2
    # ports:
      # - "2182:2181"
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=0.0.0.0:2888:3888;2181 server.3=zoo3:2888:3888;2181
    networks:
      - sx-net
  zoo3:
    image: zookeeper:3.6.2
    hostname: zoo3
    container_name: sx-zoo3
    # ports:
    #   - "2183:2181"
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181 server.3=0.0.0.0:2888:3888;2181
    networks:
      - sx-net
networks:
  sx-net:
    external: true